{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript"  src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript">
$(function() {
        $( "input[id$='date']" ).datepicker();
        });
</script>
<body>
{% block title %}
<h1>PROJECTNAME app</h1>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
